<p id="notice"><%= notice %></p>

<h1>Listing Droplets</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @droplets.each do |droplet| %>
      <tr>
        <td><%= link_to 'Show', droplet %></td>
        <td><%= link_to 'Edit', edit_droplet_path(droplet) %></td>
        <td><%= link_to 'Destroy', droplet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Droplet', new_droplet_path %>
