<!DOCTYPE html>
<html>
  <head>
    <title>{{ shop.name | escape }}</title>
    <meta name="description" content="{{ shop.description }}" />
    {{ content_for_header }}
    {{ 'normalize.css' | asset_url | stylesheet_tag }}
    {{ 'codemirror.css' | asset_url | stylesheet_tag }}
    {{ 'styles.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {{ content_for_layout }}
    {{ 'app.js' | asset_url | script_tag }}
  </body>
</html>
